<div class="card mb-3">
  <h2 class="card-header h4">
    Saved Item #<%= saved_item.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Item</dt>
      <!-- Display item_id start -->
      <dd><%= saved_item.item_id %></dd>
      <!-- Display item_id end -->

      <dt>User</dt>
      <!-- Display user_id start -->
      <dd><%= saved_item.user_id %></dd>
      <!-- Display user_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back saved_item, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link saved_item start -->
      <div class="col">
        <%= link_to edit_saved_item_url(saved_item), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link saved_item end -->

      <!-- Delete link saved_item start -->
      <div class="col">
        <%= link_to saved_item, method: :delete, data: { confirm: "Do you really want to delete this saved_item?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link saved_item end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(saved_item.updated_at) %> ago
  </div>
</div>
