<div class="card mb-3">
  <h2 class="card-header h4">
    Saved Item #<%= saved_item.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Item</dt>
      <dd>
        <% if @saved_item.item.present? %>
          <%= link_to saved_item.item, saved_item.item %>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @saved_item.user.present? %>
          <%= link_to saved_item.user, saved_item.user %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back saved_item, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @saved_item.user %>
          <%= link_to edit_saved_item_url(saved_item), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @saved_item.user %>
          <%= link_to saved_item, method: :delete, data: { confirm: "Do you really want to delete this saved_item?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(saved_item.updated_at) %> ago
  </div>
</div>
