<%= form_with(model: @item, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :closet_id %>

    <%= f.collection_select :closet_id, Closet.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :item_name %>
    <%= f.text_area :item_name, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :item_type_id, value: @item_type.id %>

  <div class="form-group">
    <%= f.label :style_id %>

    <%= f.collection_select :style_id, Style.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :letter_size_id %>

    <%= f.collection_select :letter_size_id, LetterSize.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :number_size_id %>

    <%= f.collection_select :number_size_id, NumberSize.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :item_description %>

    <%= f.text_field :item_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photos %>

    <%= f.file_field :photos, class: "form-control" %>
  </div>

  <%= f.submit "Create item", class: "btn btn-block btn-outline-secondary" %>
<% end %>
