<% was_validated = lend_transaction.errors.any? %>

<%= form_with(model: lend_transaction, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for lender_id start -->
  <!-- Input for "lender_id" start -->
  <%= f.hidden_field :lender_id, value: current_user.id %>
  <!-- Input for "lender_id" end -->
  <!-- Label and input for lender_id end -->
  <!-- Label and input for user_lending_id start -->
  <div class="form-group">
    <% user_lending_class = "form-control" %>
    <% user_lending_was_invalid = lend_transaction.errors.include?(:user_lending) %>

    <% if was_validated %>
      <% if user_lending_was_invalid %>
        <% user_lending_class << " is-invalid" %>
      <% else %>
        <% user_lending_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_lending_id %>
    <!-- Input for user_lending_id start -->
    <%= f.collection_select :user_lending_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_lending_id end -->
    <% if user_lending_was_invalid %>
      <% lend_transaction.errors.full_messages_for(:user_lending).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_lending_id end -->
  <!-- Label and input for pickup_date_time start -->
  <div class="form-group">
    <% pickup_date_time_class = "form-control" %>
    <% pickup_date_time_was_invalid = lend_transaction.errors.include?(:pickup_date_time) %>

    <% if was_validated %>
      <% if pickup_date_time_was_invalid %>
        <% pickup_date_time_class << " is-invalid" %>
      <% else %>
        <% pickup_date_time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :pickup_date_time %>
    <!-- Input for pickup_date_time start -->
    <%= f.datetime_select :pickup_date_time, class: pickup_date_time_class, placeholder: "Enter pickup date time" %>
    <!-- Input for pickup_date_time end -->
    <% if pickup_date_time_was_invalid %>
      <% lend_transaction.errors.full_messages_for(:pickup_date_time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for pickup_date_time end -->
  <!-- Label and input for rental_period start -->
  <div class="form-group">
    <% rental_period_class = "form-control" %>
    <% rental_period_was_invalid = lend_transaction.errors.include?(:rental_period) %>

    <% if was_validated %>
      <% if rental_period_was_invalid %>
        <% rental_period_class << " is-invalid" %>
      <% else %>
        <% rental_period_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :rental_period %>
    <!-- Input for rental_period start -->
    <%= f.time_select :rental_period, class: rental_period_class, placeholder: "Enter rental period" %>
    <!-- Input for rental_period end -->
    <% if rental_period_was_invalid %>
      <% lend_transaction.errors.full_messages_for(:rental_period).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for rental_period end -->
  <!-- Label and input for item_id start -->
  <div class="form-group">
    <% item_class = "form-control" %>
    <% item_was_invalid = lend_transaction.errors.include?(:item) %>

    <% if was_validated %>
      <% if item_was_invalid %>
        <% item_class << " is-invalid" %>
      <% else %>
        <% item_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_id %>
    <!-- Input for item_id start -->
    <%= f.collection_select :item_id, Item.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for item_id end -->
    <% if item_was_invalid %>
      <% lend_transaction.errors.full_messages_for(:item).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for item_id end -->
  <!-- Label and input for chat_history start -->
  <div class="form-group">
    <% chat_history_class = "form-control" %>
    <% chat_history_was_invalid = lend_transaction.errors.include?(:chat_history) %>

    <% if was_validated %>
      <% if chat_history_was_invalid %>
        <% chat_history_class << " is-invalid" %>
      <% else %>
        <% chat_history_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :chat_history %>
    <!-- Input for chat_history start -->
    <%= f.text_area :chat_history, class: chat_history_class, placeholder: "Enter chat history" %>
    <!-- Input for chat_history end -->
    <% if chat_history_was_invalid %>
      <% lend_transaction.errors.full_messages_for(:chat_history).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for chat_history end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
