<!-- Form preference start -->
<%= form_with(model: @preference, local: true) do |f| %>
<!-- Form preference end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for number_size_id start -->
  <div class="form-group">
    <%= f.label :number_size_id %>

    <!-- Input for number_size_id start -->
    <%= f.text_field :number_size_id, class: "form-control" %>
    <!-- Input for number_size_id end -->
  </div>
  <!-- Label and input for number_size_id end -->

  <!-- Label and input for letter_size_id start -->
  <div class="form-group">
    <%= f.label :letter_size_id %>

    <!-- Input for letter_size_id start -->
    <%= f.text_field :letter_size_id, class: "form-control" %>
    <!-- Input for letter_size_id end -->
  </div>
  <!-- Label and input for letter_size_id end -->

  <!-- Label and input for style_id start -->
  <!-- Input for style_id start -->
  <%= f.hidden_field :style_id, value: @style.id %>
  <!-- Input for style_id end -->
  <!-- Label and input for style_id end -->

  <%= f.submit "Create preference", class: "btn btn-block btn-outline-secondary" %>
<% end %>
