<% was_validated = preference.errors.any? %>

<%= form_with(model: preference, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group">
    <% number_size_class = "form-control" %>
    <% number_size_was_invalid = preference.errors.include?(:number_size) %>

    <% if was_validated %>
      <% if number_size_was_invalid %>
        <% number_size_class << " is-invalid" %>
      <% else %>
        <% number_size_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :number_size_id %>
    <%= f.collection_select :number_size_id, NumberSize.all, :id, :to_s, {}, class: "form-control" %>
    <% if number_size_was_invalid %>
      <% preference.errors.full_messages_for(:number_size).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% letter_size_class = "form-control" %>
    <% letter_size_was_invalid = preference.errors.include?(:letter_size) %>

    <% if was_validated %>
      <% if letter_size_was_invalid %>
        <% letter_size_class << " is-invalid" %>
      <% else %>
        <% letter_size_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :letter_size_id %>
    <%= f.collection_select :letter_size_id, LetterSize.all, :id, :to_s, {}, class: "form-control" %>
    <% if letter_size_was_invalid %>
      <% preference.errors.full_messages_for(:letter_size).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% style_class = "form-control" %>
    <% style_was_invalid = preference.errors.include?(:style) %>

    <% if was_validated %>
      <% if style_was_invalid %>
        <% style_class << " is-invalid" %>
      <% else %>
        <% style_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :style_id %>
    <%= f.collection_select :style_id, Style.all, :id, :to_s, {}, class: "form-control" %>
    <% if style_was_invalid %>
      <% preference.errors.full_messages_for(:style).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
