<% was_validated = item.errors.any? %>

<%= form_with(model: item, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for closet_id start -->
  <div class="form-group">
    <% closet_class = "form-control" %>
    <% closet_was_invalid = item.errors.include?(:closet) %>

    <% if was_validated %>
      <% if closet_was_invalid %>
        <% closet_class << " is-invalid" %>
      <% else %>
        <% closet_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :closet_id %>
    <!-- Input for closet_id start -->
    <%= f.collection_select :closet_id, Closet.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for closet_id end -->
    <% if closet_was_invalid %>
      <% item.errors.full_messages_for(:closet).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for closet_id end -->
  <!-- Label and input for item_name start -->
  <div class="form-group">
    <% item_name_class = "form-control" %>
    <% item_name_was_invalid = item.errors.include?(:item_name) %>

    <% if was_validated %>
      <% if item_name_was_invalid %>
        <% item_name_class << " is-invalid" %>
      <% else %>
        <% item_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_name %>
    <!-- Input for item_name start -->
    <%= f.text_area :item_name, class: item_name_class, placeholder: "Enter item name" %>
    <!-- Input for item_name end -->
    <% if item_name_was_invalid %>
      <% item.errors.full_messages_for(:item_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for item_name end -->
  <!-- Label and input for item_type_id start -->
  <div class="form-group">
    <% item_type_class = "form-control" %>
    <% item_type_was_invalid = item.errors.include?(:item_type) %>

    <% if was_validated %>
      <% if item_type_was_invalid %>
        <% item_type_class << " is-invalid" %>
      <% else %>
        <% item_type_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_type_id %>
    <!-- Input for item_type_id start -->
    <%= f.number_field :item_type_id, class: item_type_class, placeholder: "Enter item type" %>
    <!-- Input for item_type_id end -->
    <% if item_type_was_invalid %>
      <% item.errors.full_messages_for(:item_type).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for item_type_id end -->
  <!-- Label and input for style_id start -->
  <div class="form-group">
    <% style_class = "form-control" %>
    <% style_was_invalid = item.errors.include?(:style) %>

    <% if was_validated %>
      <% if style_was_invalid %>
        <% style_class << " is-invalid" %>
      <% else %>
        <% style_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :style_id %>
    <!-- Input for style_id start -->
    <%= f.number_field :style_id, class: style_class, placeholder: "Enter style" %>
    <!-- Input for style_id end -->
    <% if style_was_invalid %>
      <% item.errors.full_messages_for(:style).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for style_id end -->
  <!-- Label and input for letter_size_id start -->
  <div class="form-group">
    <% letter_size_class = "form-control" %>
    <% letter_size_was_invalid = item.errors.include?(:letter_size) %>

    <% if was_validated %>
      <% if letter_size_was_invalid %>
        <% letter_size_class << " is-invalid" %>
      <% else %>
        <% letter_size_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :letter_size_id %>
    <!-- Input for letter_size_id start -->
    <%= f.number_field :letter_size_id, class: letter_size_class, placeholder: "Enter letter size" %>
    <!-- Input for letter_size_id end -->
    <% if letter_size_was_invalid %>
      <% item.errors.full_messages_for(:letter_size).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for letter_size_id end -->
  <!-- Label and input for number_size_id start -->
  <div class="form-group">
    <% number_size_class = "form-control" %>
    <% number_size_was_invalid = item.errors.include?(:number_size) %>

    <% if was_validated %>
      <% if number_size_was_invalid %>
        <% number_size_class << " is-invalid" %>
      <% else %>
        <% number_size_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :number_size_id %>
    <!-- Input for number_size_id start -->
    <%= f.number_field :number_size_id, class: number_size_class, placeholder: "Enter number size" %>
    <!-- Input for number_size_id end -->
    <% if number_size_was_invalid %>
      <% item.errors.full_messages_for(:number_size).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for number_size_id end -->
  <!-- Label and input for item_description start -->
  <div class="form-group">
    <% item_description_class = "form-control" %>
    <% item_description_was_invalid = item.errors.include?(:item_description) %>

    <% if was_validated %>
      <% if item_description_was_invalid %>
        <% item_description_class << " is-invalid" %>
      <% else %>
        <% item_description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_description %>
    <!-- Input for item_description start -->
    <%= f.text_field :item_description, class: item_description_class, placeholder: "Enter item description" %>
    <!-- Input for item_description end -->
    <% if item_description_was_invalid %>
      <% item.errors.full_messages_for(:item_description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for item_description end -->
  <!-- Label and input for photos start -->
  <div class="form-group">
    <% photo_class = "form-control" %>
    <% photo_was_invalid = item.errors.include?(:photo) %>

    <% if was_validated %>
      <% if photo_was_invalid %>
        <% photo_class << " is-invalid" %>
      <% else %>
        <% photo_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :photos %>
    <!-- Input for photos start -->
    <%= f.file_field :photos, class: "form-control" %>
    <!-- Input for photos end -->
    <% if photo_was_invalid %>
      <% item.errors.full_messages_for(:photo).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for photos end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
