<%= form_with(model: @lend_transaction, local: true) do |f| %>

  <%= f.hidden_field :lender_id, value: current_user.id %>

  <%= f.hidden_field :user_lending_id, value: current_user.id %>

  <div class="form-group">
    <%= f.label :pickup_date_time %>
    <%= f.datetime_select :pickup_date_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rental_period %>

    <%= f.date_select :rental_period, class: "form-control" %>
  </div>

  <%= f.hidden_field :item_id, value: @item.id %>

  <div class="form-group">
    <%= f.label :chat_history %>
    <%= f.text_area :chat_history, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create lend transaction", class: "btn btn-block btn-outline-secondary" %>
<% end %>
